.howitworks-container {
  @include flex();

  .howitworks {
    width: 80%;
    @include flex();
    flex-flow: column;
  }
}

.howitworks-learn {
  width: 100%;
  margin: 100px 0;
  @include flex();

  .howitworks-feature {
    width: 400px;
    @include flex(center, center, flex-start);
    flex-flow: column;

    h2 {
      font-size: 26px;
    }

    p, a {
      font-size: 22px;
    }

    a {
      color: $main-text-hover;
      margin-bottom: 40px;
    }

    .howitworks-img {
      @include flex();
      align-self: center;

      img {
        width: 270px;
      }
    }
  }

  .howitworks-screenshot {

    img {
      width: 768px;
    }
  }
}

.howitworks-learn.left {
  @include flex(flex-start);
}

.howitworks-learn.right {
  @include flex(flex-end);
}
