$second-bg-color: #ffe7d2;
$main-text-color: #58402c;
$main-text-hover: #30488f;
$button-text-color: #FFF;
$button-bg-color: #30488f;
$button-bg-hover: #233569;
$nav-button-bg-color: #FFF;
$main-width: 60%;
$main-height: 500px;
